@{
    ViewData["Title"] = "Home Page";
    @using Microsoft.AspNetCore.Http

    var user_id = Context.Session.GetString("User_ID");
}

@model GU.Models.Trees



<script language="javascript" type="text/javascript">



    

    window.onload = function () {
        resize();
        window.addEventListener("resize", resize, false);

    };


</script>

<script>

    //NIGHT OR DAY FUNCTION
    var bgTime = "@ViewBag.Scene_Time_BG";
    var bgDayorNight = "@ViewBag.DorN";
    var treeLevel = @Model?.Tree_Level;
    var treeIMG = "@ViewBag.TreeIMG";

    var task_count = @ViewBag.task_count;
    var task_complete = @ViewBag.task_finished;

    var tree_hp = @ViewBag.Tree_HP;
    var taskToday = @ViewBag.task_today;

    var tree_exp = @ViewBag.tree_exp;

    var userWidth = window.innerWidth;
    var userHeight = window.innerHeight;

    //Check Fully Growth Tree

    

     @{ 
         var G1_isNull = "Y";
         var G2_isNull = "Y";
         var G3_isNull = "Y";

         Trees tree_G1 = ViewBag.G1;
         Trees tree_G2 = ViewBag.G2;
         Trees tree_G3 = ViewBag.G3;

         if (tree_G1 != null)
         {
             G1_isNull = "N";
         }
         if (tree_G2 != null)
         {
             G2_isNull = "N";
         }
         if (tree_G3 != null)
         {
             G3_isNull = "N";
         }



    }

    var G1_nullCheck = "@G1_isNull";
    var G2_nullCheck = "@G2_isNull";
    var G3_nullCheck = "@G3_isNull";

    var tree = {
        name: "Tree_Name",
        level: 0,
        exp: 0,
        hp: 100,
        img: "IMG"
       
    };


    var G1_isHere = false;
    var G2_isHere = false;
    var G3_isHere = false;

  
    //CHECK NULL
    if (G1_nullCheck == "Y") {
        
    }
    else {
        @*var G1_JS = new tree("@tree_G1.Tree_Name",@tree_G1.Tree_Level,@tree_G1.Tree_EXP,@tree_G1.Tree_HP,@ViewBag.G1_IMG);*@
        G1_isHere = true;
    }

    if (G2_nullCheck == "Y") {

    }
    else {
        @*var G2_JS = new tree("@tree_G2.Tree_Name",@tree_G2.Tree_Level,@tree_G2.Tree_EXP,@tree_G2.Tree_HP,@ViewBag.G2_IMG);*@
        G2_isHere = true;
    }

    if (G3_nullCheck == "Y") {

    }
    else {
        @*var G3_JS = new tree("@tree_G3.Tree_Name",@tree_G3.Tree_Level,@tree_G3.Tree_EXP,@tree_G3.Tree_HP,@ViewBag.G3_IMG);*@
        G3_isHere = true;
    }




    //MAIN GAME CONFIG
    var config = {
        type: Phaser.AUTO,
        //width: userWidth,
        //height: userHeight,
        width: 1920,
        height: 1080,
        physics: {
            default: 'arcade',
            arcade: {
                gravity: { y: 200 }
            }
        },
        scene: {
            preload: preload,
            create: create
        },
        parent: 'phaser-container',
        dom: {
            createContainer: true
        },
    };


    var game = new Phaser.Game(config);

    var treeBlock;


    function resize() {
        var canvas = document.querySelector("canvas");
        var windowWidth = window.innerWidth;
        var windowHeight = window.innerHeight;
        var windowRatio = windowWidth / windowHeight;
        var gameRatio = game.config.width / game.config.height;

        if (windowRatio < gameRatio) {
            canvas.style.width = windowWidth + "px";
            canvas.style.height = (windowWidth / gameRatio) + "px";
        }
        else {
            canvas.style.width = (windowHeight * gameRatio) + "px";
            canvas.style.height = windowHeight + "px";
        }
    }


    function preload() {

        //ได้แล้ววว ต้องใช้ .. นำหน้าก่อน
        //this.load.image('background', bgTime);
        this.load.image('background', bgTime);

        //Plain Ground
        this.load.image('plain_field', '../assets/GU_Game/img/PlainGround/Plain_Field.png');


        this.load.image('trees', treeIMG);

        if (G1_isHere) {
            this.load.image('g1_tree', '@ViewBag.G1_IMG');
        }
        if (G2_isHere) {
            this.load.image('g2_tree', '@ViewBag.G2_IMG');
        }
        if (G3_isHere) {
            this.load.image('g3_tree', '@ViewBag.G3_IMG');
        }


        //this.load.image('coin_b', '../assets/GU_Game/img/PNG/coin/leaf-coin.png');
        this.load.image('coin_icon', '../assets/GU_Game/img/PNG/coin/leaf-coin.png');
        this.load.image('task_icon', '../assets/GU_Game/img/PNG/task/task.png');

    }
    function create() {

                   

        //window.addEventListener('resize', resize);
        //resize();




        //Isometric Tree Design
        //Plain Soil BG 1
        this.add.image(0, 0, 'background').setOrigin(0, 0);
       


    

        //// 2*2 Blocks

        if (G2_isHere) {
            treeBlock_03 = this.physics.add.staticGroup();

            treeBlock_03.create(990, 395, 'plain_field').setScale(1).refreshBody();
            treeBlock_03.create(990, 335, 'g2_tree').setScale(1).refreshBody();
        }

        if (G3_isHere) {
            treeBlock_04 = this.physics.add.staticGroup();

            treeBlock_04.create(1275, 565, 'plain_field').setScale(1).refreshBody();
            treeBlock_04.create(1275, 505, 'g3_tree').setScale(1).refreshBody();
        }


        ////Tree 3
        //treeBlock_03 = this.physics.add.staticGroup();

        //treeBlock_03.create(990, 395, 'plain_field').setScale(1).refreshBody();
        //treeBlock_03.create(990, 335, 'trees').setScale(1).refreshBody();

        ////Tree 4
        //treeBlock_04 = this.physics.add.staticGroup();

        //treeBlock_04.create(1275, 565, 'plain_field').setScale(1).refreshBody();
        //treeBlock_04.create(1275, 505, 'trees').setScale(1).refreshBody();



        treeBlock_01 = this.physics.add.staticGroup();

        //ยึดที่แกน X และ แกน Y ลบห่างกัน -60
        treeBlock_01.create(700, 560, 'plain_field').setScale(1).refreshBody();
        treeBlock_01.create(700, 500, 'trees').setScale(1).refreshBody();


        if (G1_isHere) {
            //Tree 2
            treeBlock_02 = this.physics.add.staticGroup();

            treeBlock_02.create(985, 730, 'plain_field').setScale(1).refreshBody();
            treeBlock_02.create(985, 670, 'g1_tree').setScale(1).refreshBody();
        }

        




        this.add.image(80, 80, 'coin_icon').setScale(0.08);

        this.add.image(640,80, 'task_icon').setScale(0.08);


        


        if (bgDayorNight == "Day") {

            //If task != 0
            if (taskToday == 1) {
                havetoFinish_text = this.add.text(130, 160, taskToday + " task should be completed within today.", { fontSize: '36px', fill: '#E8AA0C' });
            }
            else if (taskToday != 0) {
                havetoFinish_text = this.add.text(130, 160, taskToday + " tasks should be completed within today.", { fontSize: '36px', fill: '#E8AA0C' });
            }
            else {
                havetoFinish_text = this.add.text(130, 160, "You don't have any task today.", { fontSize: '36px', fill: '#E8AA0C' });
            }

            //TREE LEVEL
            level_text = this.add.text(130, 65, 'LV ' + treeLevel, { fontSize: '48px', fill: 'gray' });

            //Task/Complete_Task
            hp_text = this.add.text(300, 65, "HP:" + tree_hp + '/100', { fontSize: '48px', fill: 'gray' });

            //TREE HP
            task_text = this.add.text(690, 65, task_complete + '/' + task_count, { fontSize: '48px', fill: 'gray' });

            //EXP Text
            exp_text = this.add.text(130, 110, tree_exp + '%', { fontSize: '26px', fill: 'gray' });



        }
        else if (bgDayorNight == "Night") {
            
            //If task != 0
            if (taskToday == 1) {
                havetoFinish_text = this.add.text(130,160, taskToday + " task should be completed within today.", { fontSize: '36px', fill: '#ffe790' });
            }
            else if (taskToday != 0) {
                havetoFinish_text = this.add.text(130,160, taskToday + " tasks should be completed within today.", { fontSize: '36px', fill: '#ffe790' });
            }
            else {
                havetoFinish_text = this.add.text(130,160, "You don't have any task today.", { fontSize: '36px', fill: '#ffe790' });
            }

            //TREE LEVEL
            level_text = this.add.text(130, 65, 'LV ' + treeLevel, { fontSize: '48px', fill: 'white' });

            //Task/Complete_Task
            hp_text = this.add.text(300, 65, "HP:" + tree_hp + '/100', { fontSize: '48px', fill: 'white' });

            //TREE HP
            task_text = this.add.text(690, 65, task_complete + '/' + task_count, { fontSize: '48px', fill: 'white' });

            //EXP Text
            exp_text = this.add.text(130, 110, tree_exp + '%', { fontSize: '26px', fill: 'white' });
        }
        else {
            //ERROR
        }


        

      

       




    }

                

</script>

@*<script src="~/js/main.js"></script>*@



@{
    if (user_id != null)
    {
        <div class="row" style="color:#ffe790">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div id="phaser-container">

                </div>
            </div>
            <div class="col-md-1"></div>
            
        </div>
        
    }
    else
    {
      
        <br />
        <div class="row">
            <h1 class="display-4">Please Login Before enter this content.</h1>
        </div>

    }
}














@Html.Raw(TempData["msg"])
